Flask==2.0.1
py2neo==2021.1.5
aiml==0.9.3
tensorflow==2.6.0
transformers==4.11.2
pandas==1.3.4
scikit-learn==0.24.2
nltk==3.6.6
spacy==3.1.3
pyswip==0.2.10
beautifulsoup4==4.9.3
gingerit==0.8.2
truecase==0.0.3
